<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism "/>
    <!--    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>

  <!-- Prism Modules -->
  <modules>
<!--    <module assemblyFile="Modules\<AssemblyName>" moduleType="<Namespace.ClassName>, <Namespace>, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ProgramModule" startupLoaded="true"/>-->
    <module assemblyFile="Modules\Endurance.Re.ReSolver.ProgramModule.dll" moduleType="Endurance.Re.ReSolver.ProgramModule.ProgramModule, Endurance.Re.ReSolver.ProgramModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ProgramModule" startupLoaded="true"/>
  </modules>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>